<div class="container d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/arroz.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arroz</h5>
          <p class="card-text">Arroz Solito tipo 1. R$24,00</p>
          <a  href="#" class="btn btn-primary text-info-emphasis container-fluid" (click)="Comprar()">Comprar!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/feijao.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Feijão Qualitá</h5>
          <p class="card-text">Feijão carioca da Qualitá no precinho R$14,00</p>
          <a href="#" class="btn btn-primary text-info-emphasis container-fluid" (click)="Comprar()">Comprar!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/alface.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alface americana</h5>
          <p class="card-text">Alface americana R$9,90 O KG</p>
          <a href="#" class="btn btn-primary text-info-emphasis container-fluid" (click)="Comprar()">Comprar!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/tomate.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tomate</h5>
          <p class="card-text">Tomate R$6,00 o kg</p>
          <a href="#" class="btn btn-primary text-info-emphasis container-fluid" (click)="Comprar()">Comprar!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/picanha.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Picanha</h5>
          <p class="card-text">Picanha R$69,90 o kg</p>
          <a href="#" class="btn btn-primary text-info-emphasis container-fluid" (click)="Comprar()">Comprar!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/chocolate.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">bombom</h5>
          <p class="card-text">Caixa de bombom lacta R$14,00</p>
          <a href="#" class="btn btn-primary text-info-emphasis container-fluid" (click)="Comprar()">Comprar!</a>
        </div>
</div>
