<div class="container d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/gel-dental-infantil-hello-kitty-jadepro-1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pasta de dente Hello Kitty</h5>
          <p class="card-text">Pasta de dente infantil da personagem Hello Kitty!! Sabor tutti-frutti que todas as crianças amam!! Todos os dentistas aprovam</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/my melody.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pelúcia My Melody</h5>
          <p class="card-text">Pelúcia da personagem My Melody do desenho infantil "Hello Kitty and friends"!! Temos diversos temanhos disponíveis, venha escolher</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/₊˚ ୨ ♡ ୧ ˚₊.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pelúcia Kuromi</h5>
          <p class="card-text">Pelúcia da personagem Kuromi do desenho infantil "Hello Kitty and friends"!!</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/download (8).jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perfume Cinnamonroll</h5>
          <p class="card-text">Perfume infantil Cinnamonroll cheirinho de algodão doce, seu filho (a) vai amar!!</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/hello kitty (2).jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pelúcia Hello Kitty</h5>
          <p class="card-text">Pelúcia da personagem Hello Kitty, super fofa, temos disponíveis em vários tamanhos, venha conferir!!</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar!</a>
        </div>
      </div>
</div>
